@import 'core/settings';

body {
	height: 100vh;
}
.show__element {
	color: rgb(75, 75, 255);
	background-color: rgb(214, 214, 255);
	font-family: Helvetica, sans-serif;
	display: flex;
	margin: 20px;
	flex-direction: column;
	width: 210px;
	font-size: 14px;
	padding: 5px;
	text-align: center;
	border: 2px solid #8b97ff;
}
.series__list {
	
}
.like {
	color: rgb(214, 214, 255);
	background-color: rgb(75, 75, 255);
}
.wrapper {
	display: flex;
}
.favourite__container{
	width: 200px;
	background-color: rgb(212, 212, 212);
}