<main class="page__main">
    <div class="wrapper">
        <div class="menu">
            <aside class="favourites__container">
                <h2 class="title2">Mis series favoritas <span class="heart">❤</span></h2>
                <button type=button class="btn__delete">Borrar</button>
                <ul class="favourites__list">
                </ul>
            </aside>
        </div>
    
    <div class="series__container">
        <ul class="series__list"></ul>
        <!-- <li>
            <img src="" alt="">
            <h3></h3>
        </li> -->
    </div>
</div>

</main>