<main class="page__main">
    <div class="wrapper">
        <div class="menu">
            <input type="text" id="search" class="search">
            <button type="button" class="btn">Search</button>
            <aside class="favourite__container">
                <h2>Mis series favoritas</h2>
                <ul class="favourites__list">
                </ul>
            </aside>
        </div>
    </div>
    <div class="series__container">
        <ul class="series__list"></ul>
        <!-- <li>
            <img src="" alt="">
            <h3></h3>
        </li> -->
    </div>

</main>